.div-buscar
{
  height: 50px;
  margin: auto;  
}

.buscar
{
  border: solid 1px var(--gris);
  width: 100%;
  border-radius: 6px;
  height: 40px;
  padding-left: 10px;
}

.div-titulo
{
    font-size: 2rem;
    font-family: opensans-semibold;
    padding-bottom: .5rem;
    border-bottom: solid 2px;
}

.div-nuevo-producto
{
  /* border-bottom: solid 1px var(--gris); */
  padding: 1rem 0;  
  font-size: 1.3rem;
}

.btn-nuevo
{
  padding: 1rem;
  font-size: 1.4 !important;
  font-family: opensans-semibold;
  background-color: var(--gris-claro);
}

.div-nuevo 
{
  height: fit-contet;
  background-color: var(--gris-claro);
  margin: 1rem 0;
}

.div-titulo-nuevo
{
    padding: 1rem 0 0 .5rem;
    font-family: opensans-semibold;
}

.div-item
{
    width: 100%;
    padding: 10px 10px 10px 0;
}

.btn-img
{  
    height: 100%;
    width: 100%;
    border: solid 1px var(--gris);
    border-radius: 3px;
    margin-right:.25rem;
    padding: 3px;
}

.div-boton
{
    margin: 0 auto;
    padding: 0;
}

.div-imagen
{
    width: fit-content;
    height: fit-content;
}

.form-item
{
    border: 2px var(--gris-oscuro);
    border-radius: 3px;  
    width: 100%;
    resize: none;
    margin: .5rem 0;
    padding: .7rem;
    font-family: opensans-reg;
    text-align: left;
    color: var(--gris-oscuro);
    font-size: 1rem;
}

.textarea
{
    border: 1px var(--gris);
    border-radius: 3px;  
    width: 100%;
    resize: none;
    margin: .5rem 0;
}

.div-opcion
{
    font-family: opensans-;
}

.btn
{
  padding: 0;
  font-size: 2rem !important;
  font-family: opensans-reg;
}

.btn-menu
{
  padding: 0;
  margin: .5rem 0;
  padding: .7rem;
  font-family: opensans-light;
  text-align: center;
  width: 100%;
  border: solid 1px var(--gris);
  border-radius: 3px;
}

.div-titulo-subcat
{
    font-family: opensans-semibold;
    padding: .5rem 0;
    font-size: 1.4rem;
    border-bottom: solid 1px var(--gris)
}

.div-producto
{
    border-bottom: solid 1px var(--gris);
    width: 100%;
    padding: 10px 0;
}

.div-titulo-item
{
    font-size: 1rem;
    font-family: opensans-light;
}

.dato-prod
{
    width: 100%;
    border: solid 1px var(--gris);
    border-radius: 3px;
    margin-bottom: .5rem;
    height: 40px;
    padding-left: 10px;
}

.div-color
{
    width: 25px;
    height: 25px;
    border-radius: 3px;
    margin: 0 2px;
    border: solid 1px var(--gris);
    padding: 0;
    display: flex;
}

.btn-borrar-color
{
    opacity: 0;
    padding: 0;
    width: 100%;
}

.btn-delete-img
{
    padding: 0;
    right: 9px;
    top: 3px;
    background: none !important;
}

.btn-borrar-color:hover
{
    opacity: 1;
    background: none;
    color: white;
    font-size: 16px !important;
    margin: auto !important;
}

.btn-cropper
{
    margin-right: 10px;    
    padding: 7px 12px;
}

.div-eliminar-img
{
    top: 7px;
    right: 10px;
}

.btn-eliminar-img
{
    padding: 0;
    background: none !important;
    color: white;
}


.div-btn
{
    background-color: var(--gris-claro);
    margin: auto;
    /* font-size: 15px; */
}

.div-btn-add-color
{
    background-color: var(--gris-claro);
    margin: auto;
    height: fit-content;
    line-height: 6px;
}

.div-botones
{
    flex-direction: column;
    padding: .7rem .5rem;
}

.div-fotos
{
    padding: .5rem 0;
}

.div-img-cropped
{
    width: 20vh;
    height: 20vh;
}
