.div-titulo
{
  font-family: opensans-semibold;
  font-size: 2rem;
  padding-bottom: .5rem;
  border-bottom: solid 2px;
}

.div-menu
{
  justify-content: space-between;
  width: 100%;
}

.div-nueva-categoria
{
  /* border-bottom: solid 1px var(--gris); */
  padding: 1rem 0;  
  font-size: 1.3rem;
}

.btn-nuevo
{
  padding: 1rem;
  font-size: 1.4 !important;
  font-family: opensans-semibold;
  background-color: var(--gris-claro);
}

.div-nuevo 
{
  margin-top: 1rem !important;
  display: block;
  height: fit-contet;
  /* border-bottom: solid 1px var(--gris); */
  padding: 1rem 0;
  background-color: var(--gris-claro);
}

.div-titulo-nuevo
{
    padding-bottom: .5rem;
    font-family: opensans-semibold;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
}

.img-cropper
{
  margin: auto 1rem;
  border: solid 1px var(--gris);
  border-radius: 3px;
  margin: 0 auto;
}

.input-file
{
  height: 20vh;
  width: 30vh;
  left: auto;
  opacity: 1;
}

.btn
{
  font-size: 1.4rem !important;
  padding: 0;
  margin-right: 5px;
  font-family: opensans-reg;
}

.div-boton
{
    margin: 0 auto;
    padding: 0;
}

.btn-menu
{
  padding: 0;
  margin: .5rem 0;
  padding: .7rem;
  font-family: opensans-light;
  text-align: center;
  width: 100%;
  border: solid 1px var(--gris);
  border-radius: 3px;
}

.div-buscar
{
  margin-top: 1rem;
}

.buscar
{
  border: solid 1px var(--gris);
  width: 100%;
  border-radius: 6px;
  height: 40px;
  padding-left: 10px;
}
/* 
.div-imagen
{
  margin: auto 0;
} */

.imagen
{
  width: 230px;
  height: 260px;
  border: solid 1px var(--gris);
  border-radius: 3px;
  padding: 1px;
}

.div-nombre
{
  width: 100%;
  margin: 0 auto;
}

.nombre
{
  border: 2px var(--gris-oscuro);
  border-radius: 3px;  
  width: 100%;
  margin: 1rem 0;
  padding: .7rem;
  font-family: opensans-reg;
  text-align: left;
  color: var(--negro);
}

.div-nombre-cat
{
    margin: 0 .5rem;
    height: 40px;
    padding-left: 10px;
}

.div-botones
{
  margin: 0 .5rem;
}

.div-editar
{
  width: 230px;
}

.div-change
{
  width: 100%;
}

.change-img
{
  margin: 1rem auto;
  width: 150px;
  height: 40px;
}

.btn-imagen
{
  padding: .5rem;
  font-family: opensans-semibold;
  margin: 1rem auto
}

.div-img-temp
{
  height: 260px;
  width: 230px;
}

.div-btns-crop
{
  margin: 1rem auto 0 auto;
  display: table;
}

.btn-cropper
{
    margin-right: 10px;    
    padding: 7px 12px;
}

.div-lista-categorias
{
  border-bottom: solid 1px var(--gris);
  padding: 1rem 0;
}

.div-categoria
{
  /* width: fit-content; */
  margin: 2rem 0;
}

.div-error
{
  margin: 0 1rem;
}

.msg-error
{
  font-size: .8rem;
  color: var(--red);
}