.div-titulo
{
  font-family: opensans-semibold;
  font-size: 2rem;
  padding-bottom: .5rem;
  border-bottom: solid 2px;
}

.div-nueva-categoria
{
  /* border-bottom: solid 1px var(--gris); */
  padding: 1rem 0;  
  font-size: 1.3rem;
}

.btn-nuevo
{
  padding: 1rem;
  font-size: 1.4 !important;
  font-family: opensans-semibold;
  background-color: var(--gris-claro);
}

.div-nuevo 
{
  height: fit-contet;
  /* border-bottom: solid 1px var(--gris); */
  padding: 1rem 0;
  background-color: var(--gris-claro);
}

.input-file
{
  height: 20vh;
  width: 30vh;
  left: auto;
}

/* .div-empty
{
  visibility: hidden;
  margin: auto 0;
  max-width: fit-content;
} */

.btn
{
  padding: 0;
  font-size: 2rem !important;
  margin: 1rem .5rem;
  font-family: opensans-reg;
}

.div-buscar
{
  margin-top: 1rem;
}

.buscar
{
  width: 100%;
  border: solid 1px var(--gris);
}

.div-imagen
{
  margin: auto 0;
}

.imagen
{
  width: 230px;
  height: 170px;
  border: solid 1px;
  border-radius: 5px;
}

.div-nombre
{
  margin: auto 0;
}

.nombre
{
  width: 100%;
  border: none;
  background: none;
  font-size: 1.3rem;
}

.div-opciones
{
  margin: auto 0;
  max-width: fit-content;
}

.div-lista-categorias
{
  border-bottom: solid 1px var(--gris);
  padding: 1rem 0;
}

.div-cateogria
{
  background-color: var(--gris-claro);
  width: fit-content;
}