.div-titulo
{
  font-family: opensans-semibold;
  font-size: 2rem;
  padding-bottom: .5rem;
  border-bottom: solid 2px;
}

.div-menu
{
  justify-content: space-between;
  width: 100%;
}

.div-nueva-categoria
{
  /* border-bottom: solid 1px var(--gris); */
  padding: 1rem 0;  
  font-size: 1.3rem;
}

.btn-nuevo
{
  padding: 1rem;
  font-size: 1.4 !important;
  font-family: opensans-semibold;
  background-color: var(--gris-claro);
}

.div-nuevo 
{
  height: fit-contet;
  /* border-bottom: solid 1px var(--gris); */
  padding: 1rem 0;
  background-color: var(--gris-claro);
}

.input-file
{
  height: 20vh;
  width: 30vh;
  left: auto;
}

/* .div-empty
{
  visibility: hidden;
  margin: auto 0;
  max-width: fit-content;
} */

.btn
{
  padding: 0;
  margin-left: 5px;
  font-family: opensans-reg;
}

.div-buscar
{
  margin-top: 1rem;
}

.buscar
{
  border: solid 1px var(--gris);
  width: 100%;
  border-radius: 6px;
  height: 40px;
  padding-left: 10px;
}

.div-imagen
{
  margin: auto 0;
}

.imagen
{
  width: 230px;
  height: 260px;
  border: solid 1px var(--gris);
  border-radius: 3px;
  padding: 1px;
}

/* .div-nombre
{
  margin: auto 0;
} */

.nombre
{
  width: 100%;
  border: none;
  background: none;
  color: var(--black);
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 5px;
}

/* .div-opciones
{
  margin: auto 0;
  max-width: fit-content;
} */

.div-lista-categorias
{
  border-bottom: solid 1px var(--gris);
  padding: 1rem 0;
}

.div-categoria
{
  /* width: fit-content; */
  margin: 2rem 0;
}