<div class="div-container-modal">
    <div class="div-imagen"><img src="{{'https://api.gualeonline.com.ar/public/img/productos/'+data.imagen}}" alt="" class="imagen"></div>
    <div class="div-datos flex">
        <div class="div-titulo">{{data.nombre_producto}}</div>
        <div class="div-precio">${{data.precio_producto}}</div>
    </div>
    <div class="div-descripcion">{{data.descripcion_producto}}</div>
    <div class="div-aclaracion">
        <input type="text" class="aclaracion" id="" placeholder="Aclaraciones">
    </div>
    <div class="div-opciones flex">
      <button (click)="restar()" class="boton">
        <span class="badge badge-pill badge-danger">
          <i class="fa fa-minus"></i>
        </span>
      </button>
      <div class="div-cantidad">{{cantidad}}</div>
      <button (click)="agregar()" class="boton">
        <span class="badge badge-pill badge-danger">
          <i class="fa fa-plus"></i>
        </span>
      </button>
    <div class="div-agregar"><button class="boton" (click)="agregarProducto()">Agregar</button></div>
    </div>
</div>
