<div class="div-container box-shadow">
  <div class="title-lugar">
      Diseño de comercio
  </div>
  <div class="lineadivisora"></div>

  <div class="title">Estilo</div>
  <div class="desc gris">
    Seleccione el diseño que quiere para la<br> página de su comercio.
  </div>
  <br>

  <div (mouseover)="hover=true" (mouseleave)="hover=false" style="display: inline;">
    <button class="btnDiseño" (click)="design = 1" >
      <img src="../../../assets/imgs/comercios/ImagenTemplate_1.png" alt="" class="opcion-design" [ngStyle]="{opacity: hover==true  ? '1' : '0.75' }">
      <!-- <button class="btnOpcion" *ngIf="hover">Elegí este diseño</button>
      <button class="btnOpcion" *ngIf="hover">Vista previa</button> -->
    </button>
  </div>
  <div (mouseover)="hover2=true" (mouseleave)="hover2=false" style="display: inline;">
    <button class="btnDiseño" (click)="design = 2">
        <img src="../../../assets/imgs/comercios/ImagenTemplate_2.png" alt="" class="opcion-design" [ngStyle]="{opacity: hover2==true  ? '1' : '0.75' }">
      </button>
  </div>

  <div class="design_1" *ngIf="design == 1">
    <h4 style="font-size: 6rem;">diseño uno jajjaj</h4>
  </div>

  <div class="design_2" *ngIf="design == 2">
    <div class="title">Portada</div>
    <div class="desc gris">
      Seleccionar portada predeterminada o cargar<br> tu propia portada de comercio.
    </div>
    <br>

    <div class="row">
      <div class="col-md-8">
        <img class="imagen portada" [src]="imgURL" *ngIf="imgURL">
      </div>
      <div class="col-md-4">
        <div>
            <img class="imgSelect" src="https://api.gualeonline.com.ar/public/img/portadas/sushi_template_1.jpg">
            <input type="radio" class="radioImg" name="portada" value="sushi_template_1.jpg" [(ngModel)]="imgPortada" (change)="changeImgPortada($event)">
        </div>
        <div>
          <img class="imgSelect" src="https://api.gualeonline.com.ar/public/img/portadas/sushi_template_2.jpg">
          <input type="radio" class="radioImg" name="portada" value="sushi_template_2.jpg" [(ngModel)]="imgPortada" (change)="changeImgPortada($event)">
        </div>
        <div>
          <img class="imgSelect" src="https://api.gualeonline.com.ar/public/img/portadas/sushi_template_3.jpg">
          <input type="radio" class="radioImg" name="portada" value="sushi_template_3.jpg" [(ngModel)]="imgPortada" (change)="changeImgPortada($event)">
        </div>
      </div>
    </div>
    <div class="div-input" style="font-size: 1rem;">
        <div class="div-file">
            <input #file type="file" class="input-file" accept='image/*' (change)="preview(file.files)" />
            <label for="fileDropRef" class="label-file">
                <i class="fa fa-paperclip" style="padding: 0px 8px 0px 0px !important;"></i>
                Subir foto
            </label>
        </div>
    </div>

    <div class="title">Logo</div>
    <div class="desc gris">Logo que aparecerá en la<br> página de su comercio.</div>

    <img [src]="imgLogoURL" *ngIf="imgURL !==''" class="logo">

    <div class="div-input" style="font-size: 1rem;">
        <div class="div-file">
            <input #file2 type="file" class="input-file" accept='image/*' (change)="uploadLogo(file2.files)" />
            <label for="fileDropRef" class="label-file">
                <i class="fa fa-paperclip" style="padding: 0px 8px 0px 0px !important;"></i>
                Subir foto
            </label>
        </div>
    </div>
    <br>
  </div>

  <button class="btn btn-success btn-sm" (click)="guardarImagenes()" style="display:block; margin: 2rem;">Guardar cambios</button>

</div>
