.div-cont-templates
{
  margin-bottom: 2rem;
}

.div-template 
{
  position: relative;
  margin-right: 2rem;
}

.div-over-templates:hover
{
  opacity: 1;
}

.div-over-templates
{  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(35,35,35, .8);  
  border-radius: 18px;
  opacity: 0;
}

.div-btns-temp
{
  width: 75%;
  margin: auto;    
  height: 100%;
  display: flex;
  flex-direction: column;    
  justify-content: space-around;
  padding: 4%;
}

.load-imagen
{
  height: 100%;
  border: dashed 1px var(--gris);  
  color: var(--gris);
}

.cont-load-imagen
{
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.fa-camera
{
  font-size: 4rem;
}

.div-subir-img
{
  font-size: 2rem;  
}

.imgSelect {
  margin: 1px;
  width: 64%;
}

.radioImg {
  margin-left: 5%;
}

.subirFoto {
  font-size: 0.9rem;
  margin: 0.5rem;
}

.portada {
  max-height: 247.833px;
}

.logo {
  max-height: 100px;
}

.opcion-design {
  max-width: 80%;
}

.input-file
{
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.label-file
{
    width: auto;
    height: auto;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.div-file
{
    position: relative;
}

.div-input
{
    margin-bottom:10px;
}