<div class="div-container box-shadow">
  <div class="title-lugar">
      Diseño
  </div>
  <div class="lineadivisora"></div>

  <div class="title">Portada</div>
  <div class="desc gris">
    Seleccionar portada predeterminada o cargar<br> tu propia portada de comercio.
  </div>
  <br>

  <div class="row">
    <div class="col-md-8">
      <img class="imagen portada" [src]="imgURL" *ngIf="imgURL">
    </div>
    <div class="col-md-4">
      <div>
          <img class="imgSelect" src="../../../assets/imgs/portadas/sushi_1.jpg">
          <input type="radio" class="radioImg" name="portada" value="sushi_1.jpg" [(ngModel)]="imgPortada" (change)="changeImg($event)">
      </div>
      <div>
        <img class="imgSelect" src="../../../assets/imgs/portadas/sushi_2.jpg">
        <input type="radio" class="radioImg" name="portada" value="sushi_2.jpg" [(ngModel)]="imgPortada" (change)="changeImg($event)">
      </div>
      <div>
        <img class="imgSelect" src="../../../assets/imgs/portadas/sushi_3.jpg">
        <input type="radio" class="radioImg" name="portada" value="sushi_3.jpg" [(ngModel)]="imgPortada" (change)="changeImg($event)">
      </div>
    </div>
  </div>
  <div class="div-input" style="font-size: 1rem;">
      <div class="div-file">
          <input #file type="file" class="input-file" accept='image/*' (change)="preview(file.files)" />
          <label for="fileDropRef" class="label-file">
              <i class="fa fa-paperclip" style="padding: 0px 8px 0px 0px !important;"></i>
              Subir foto
          </label>
      </div>
  </div>

  <div class="title">Logo</div>
  <div class="desc gris">Logo que aparecerá en la<br> página de su comercio.</div>

  <img [src]="imgLogoURL" *ngIf="imgURL!==''" class="logo">

  <div class="div-input" style="font-size: 1rem;">
      <div class="div-file">
          <input #file2 type="file" class="input-file" accept='image/*' (change)="uploadLogo(file2.files)" />
          <label for="fileDropRef" class="label-file">
              <i class="fa fa-paperclip" style="padding: 0px 8px 0px 0px !important;"></i>
              Subir foto
          </label>
      </div>
  </div>
  <br>
  <button class="btn btn-success btn-sm">Guardar cambios</button>

</div>
