.div-modal-login
{
    padding: 2rem;
    background-color: var(--gris-claro)
}

.div-titulo
{
    font-family: opensans-semibold;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.div-campo
{
    border-bottom: solid 2px white;
    padding: 1rem 0; 
}

.campo
{
    width: 100%;
    border: solid 1px var(--gris-claro);
    padding-left: 1rem;
    height: 50px;
    font-size: .8rem;
}

.div-opciones
{
    justify-content: center;
    margin-top: 1.5rem;
}

.div-ingresar
{
    margin-top: 1rem;
    text-align: center;
}

.btn-ingresar
{
    font-size: 1.2rem !important;
    font-family: opensans-semibold;
    padding: .5rem 1rem;
    height: 55px;
    border: solid 1px var(--gris-claro);
}

.div-nueva-cuenta
{
    height: fit-content;
    margin: auto .5rem;
    font-size: .7rem;
}

.div-registro
{
    margin: 0 .2rem;
}

.btn-registro
{
    padding: .5rem 1rem;
    font-size: 1.5rem;
    height: 55px;
    border: solid 1px var(--gris-claro);
}