<div class="div-container-register br-10">
    <div class="div-titulo">COMPLETA TUS DATOS</div>
    <div class="div-campos row gr">
        <div class="div-campo col-md-6">
            <input type="text" formControlName="usuario" id="usuario" class="dato"  placeholder="Usuario">
        </div>
        <div class="div-campo col-md-6">
            <input type="text" formControlName="nombre" class="dato" placeholder="Nombre completo">
        </div>
        <div class="div-campo col-md-6">
            <input type="text" formControlName="telefono" class="dato" placeholder="Teléfono">
        </div>
        <div class="div-campo col-md-6">
            <input type="text" formControlName="email" class="dato" placeholder="Correo electrónico">
        </div>
        <div class="div-campo col-md-6">
            <input type="password" formControlName="passrepeat" class="dato" placeholder="Contraseña">
        </div>
        <div class="div-campo col-md-6">
            <input type="password" formControlName="passrepeat" class="dato" placeholder="Repetir contraseña">
        </div>        
    </div>
    <div class="div-continuar"><button class="div-continuar">CONTINUAR</button></div>
    <div class="div-opciones flex">
        <div class="div-registrado">¿YA TENES UNA CUENTA?</div>
        <div class="div-ingresar">INGRESAR</div>
    </div>
</div>
