<div class="div-container-register br-10">
    <div class="div-titulo">COMPLETA TUS DATOS</div>
    <div class="div-campos row gr">
        <div class="div-campo col-md-6">USUARIO</div>
        <div class="div-campo col-md-6">NOMBRE COMPLETO</div>
        <div class="div-campo col-md-6">TELEFONO</div>
        <div class="div-campo col-md-6">EMAIL</div>
        <div class="div-campo col-md-6">CONTRASEÑA</div>
        <div class="div-campo col-md-6">REPETIR CONTRASEÑA</div>        
    </div>
    <div class="div-continuar">CONTINUAR</div>
    <div class="div-opciones flex">
        <div class="div-registrado">¿YA TENES UNA CUENTA?</div>
        <div class="div-ingresar">INGRESAR</div>
    </div>
</div>
