.div-container-register
{
    max-width: 80vh;
    padding: 1rem;
    background-color: var(--gris-claro);
    width: fit-content !important;
}

.div-titulo
{
    text-align: center;
    font-family: opensans-semibold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.div-campo
{
    font-size: .8rem;
    border-bottom: solid 3px white;
    padding: 1.5rem 0;
}

.dato
{
    border: solid 1px var(--gris-claro);
    border-radius: 5px;
    height: 5vh;
    resize: none;
    width: 80%;
    font-size: .8rem;
    padding: .6rem .5rem;
}

.div-continuar
{
    text-align: center;
    margin: .5rem;
}

.continuar
{
    font-size: 1.2rem !important;
    font-family: opensans-semibold;
    padding: .5rem 1rem;
}


.div-opciones
{
    justify-content: center;
    margin-top: 1rem;
}

.div-usuario-existente
{
    margin: auto .5rem;
    font-size: .7rem;
}

.btn-login
{
    padding: .5rem 1rem;
}