<div class="div-container">
    <div class="div-categorias row">
        <div class="categoria col-md-2 col-sm-4" *ngFor="let cat of listaCategorias">
            <div class="background-categoria br-10">
                <div class="imagen-categoria">
                    <img src="{{'../../../assets/imgs/categorias/'+cat.imagen}}" alt="" class="imagen imagen-categoria">
                </div>
                <div class="titulo-categoria txt-center">
                    {{cat.nombre_categoria}}
                </div>
            </div>
        </div>       
    </div>
</div>
