<!-- <div class="div-container">
    <div class="div-categorias row">
        <div class="categoria col-md-2 col-sm-4" *ngFor="let cat of listaCategorias">
            <div class="background-categoria br-10">
                <div class="imagen-categoria">
                    <img src="{{'../../../assets/imgs/categorias/'+cat.imagen}}" alt="" class="imagen imagen-categoria">
                </div>
                <div class="titulo-categoria txt-center">
                    {{cat.nombre_categoria}}
                </div>
            </div>
        </div>       
    </div>
</div>
<app-pedidos-pendientes></app-pedidos-pendientes> -->
<div class="div-container h-100">
    <div class="mensaje-working txt-center" style="margin-top: 20%;">
        <h1>Página en construccion.</h1>
        <h3>Para registrar su comercio acceda desde las opciones de usuarios.</h3>
        <h4><a href="#" (click)="openModalRegister()">Creando un usuario</a> o
        <a href="#" (click)="openModalLogin()">iniciando sesión.</a></h4>
    </div>
</div>
