.div-portada
{
    position: relative;
    height: 350px;
    background-size: cover;
    overflow: hidden;
}

.imagen-portada
{
    position: absolute;
    z-index: -1;
    max-height: 350px;
}

.div-body-portada
{
    width: 90%;
    margin: auto;
    font-family: opensans-light;
}

.div-nombre-comercio   
{
 padding-top: 1rem;
 font-family: opensans-semibold;
 font-size: 2.5rem;
 margin-bottom: 1rem;   
}

.div-subcategoria-comercio
{
    font-size: 1.5rem;
    font-family: opensans-reg;
}

.div-info-comercio
{
    max-height: 200px;
}

.div-datos-comercio
{
    padding-left: 1.5rem;
    width: 100%;
}

.div-dato-container
{
    padding: .5rem 0;
    display: flex;
    height: fit-content;
}

.div-dato
{
    margin-left: .5rem;
}

.div-icono-dato
{
    width: 20px;
    margin: auto 0;
    text-align: center;
}

.div-informacion
{
    color: white;
    align-self: flex-end;
    width: 100%;
    text-align: right;
}

.btn-info
{
    border: solid 2px var(--gris);
    /* background-color: transparent; */
}

.div-titulo-subcategoria
{
    font-size: 1.5rem;
    padding: 1.5rem 0;
    padding: 1.5rem 0;
    border-bottom: solid 1px var(--gris);
    margin: 2.5rem 0 1.5rem 0;
}

.div-productos-subcategoria
{
    padding: 1rem 0;
}

.imagen-producto
{
    width: auto;
    height: 100%;
}

.div-datos-producto
{
    position: relative;
    height: fit-content;
    flex-grow: 1;
    padding-left: 10px;
}

.div-nombre-producto
{
    font-family: opensans-semibold;
}

.div-descripcion-producto
{
    font-family: opensans-light;
}

.div-cantidad-producto
{
    font-family: opensans-light;
}

.div-precio-producto
{
    font-family: opensans-semibold;
}

.div-boton-modal
{
    right: 0;
    bottom: 0;
}



/* DISEño DOS */
.div-img-background
{
    background-size: cover;
}

.div-text-com
{
    margin: auto;    
}

.div-title-com
{
    font-size: 6rem;    
}

.div-ig-com
{
    font-size: 2rem;
    margin: 0 auto;
    width: fit-content;
}

.text-ig
{    
    margin-left: 10px;
}

.div-btn-ver-prod
{
    width: fit-content;
    margin: 40px auto;
}

.btn-ver-prod
{
    font-family: opensans-light;
    font-size: 1.6rem !important;
    opacity: .5;
    background: white;
    padding: 17px;
    width: 250px;
    text-align: center;
}

.div-cont-categorias
{
    margin: 106px auto 20px auto;   
    background-color: var(--gris-claro);
    width: 96%;
    padding:3rem 0;
}

.div-list-categorias
{
    justify-content: space-evenly;
}

.div-categoria 
{
    height: 60vh;
    width: 400px;
    background-size: cover;    
}

.div-title-com-cat
{
    font-size: 2.7rem;    
}

.div-ig-com-cat
{
    font-size:1.4rem;
    margin: 0 auto;
    width: fit-content;
}

.div-nombre-cat-prod
{
    text-transform: uppercase;
    font-size: 2rem;
    margin: 2rem auto;    
}

.img-prod
{
    width: 250px;
    height: 400px;
}

.div-colores-prod
{
    flex-flow: wrap;
}

.div-color
{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin: 0 3px;
}

