<div class="div-container row">
    <div class="div-info-envio" col-md-6>
        <div class="div-titulo">Finalizá tu pedido</div>
        <div class="div-datos-entrega">
            <div class="div-titulo-direccion">Dirección de entrega</div>
            <div class="div-subtitulo-direccion">Selecciona la dirección de entrega</div>
            <div class="div-datos-direccion">
                <div class="div-direccion">DATO DIRECCION</div>
                <div class="div-editar"><button>Editar</button></div>
            </div>
            <div class="div-lista-direcciones"><button>Ver todas mis direcciones</button></div>
        </div>
        <div class="div-datos-pago">
            <div class="div-titulo-pago">Datos de pago</div>
            <div class="div-subtitulo-pago">Elegí como queres abonar</div>
            <div class="div-opciones-pago">
                <div class="div-pago">Pago en el domcilio</div>
                <div class="div-pago">Pago online</div>
            </div>
        </div>
        <div class="div-nota-aclaracion" placeholder="Notas adicionales"></div>   
    </div>
    <div class="div-info-pedido" col-md-6>
        <div class="div-nombre-pedido">DATO NOMBRE PEDIDO</div>
        <div class="div-pedido">        
            <div class="div-datos-pedidos">
                <div class="div-comercio">DATO NOMBRE COMERCIO</div>
                <div class="div-lista-productos"><button>Ver más productos</button></div>
                <div class="div-borrar-pedido"><button>Eliminar</button></div>
            </div>
            <div class="div-detalles-pedido">
                <div class="div-cantidad">DATO CANTIDAD</div>
                <div class="div-producto">DATO PRODUCTO</div>
                <div class="div-precio">DATO PRECIO</div>
            </div>
        </div>
        <div class="div-resumen">
            <div class="div-datos">
                <div class="div-dato">Envío</div>
                <div class="div-dato">DATO PRECIO ENVIO</div>
            </div>
            <div class="div-datos">
                <div class="div-dato">Subtotal</div>
                <div class="div-dato">DATO PRECIO SUBTOTAL</div>
            </div>
            <div class="div-datos">
                <div class="div-dato">Total</div>
                <div class="div-dato">DATO PRECIO TOTAL</div>
            </div>
        </div>
        <div class="div-finalizar"><button>Finalizar</button></div>
    </div>        
</div>
