<div class="todo">
  <div class="row" *ngIf="panel == 1">
    <div class="col-md-4" id="seccion_datosCompra">
      <h4 >Datos de compra</h4>
      <div class="seccion">
        <span><b>Dirección de entrega</b></span>
        <br>
        <span>Selecciona la dirección de entrega.</span>
        <br>
        <div *ngFor="let direccion of direcciones">
          <li>
            <span><b>{{direccion.nombre}} - </b>{{direccion.nombre_calle}}</span>
            <br>
            {{direccion.descripcion_barrio}}
            <br>
            <button class="btn btn-sm btn-light" (click)="modoEditar(direccion)">Editar</button>
            <button class="btn btn-sm btn-light" (click)="eliminarDireccion(direccion)">Eliminar</button>
          </li>
        </div>
        <br>
        <button class="btn btn-sm btn-light" (click)="panel = 2">Ver todas mis direcciones</button>
      </div>
      <div class="seccion">
          <span><b>Datos de pago</b></span>
          <br>
          <span>Selecciona la forma de pago correspondiente.</span>
          <br>
          <input class="form-check-input" type="radio" name="formaPago" id="forma1" value="option1" checked>
          <label class="form-check-label" for="forma1">
            Efectivo en puerta
          </label>
          <br>
          <input class="form-check-input" type="radio" name="formaPago" id="forma2" value="option2">
          <label class="form-check-label" for="forma2">
            Pago online
          </label>
      </div>
      <br>

        <button class="btn btn-lg btn-danger" style="margin-left: 35%;">Finalizar</button>

    </div>
    <div class="col-md-4" id="seccion_datosPedido">
      <h4>Tu pedido</h4>
      <br>
      <div *ngFor="let producto of comprasService.pedidoActivo">
        <span>{{producto.nombre_producto}}___${{producto.cantidad * producto.precio_producto}}</span>
      </div>
      <br>
      <b>Envío = $0</b>
      <br>
      <b>Subtotal = ${{comprasService.totalPagar}}</b>
      <br>
      <b>TOTAL = ${{comprasService.totalPagar}}</b>
      <br>
    </div>
    <div>

    </div>
  </div>

  <div *ngIf="panel == 2">
    <div *ngFor="let direccion of direcciones">
      <li>
        <span><b>{{direccion.nombre}} - </b>{{direccion.nombre_calle}}</span>
        <br>
        {{direccion.descripcion_barrio}}
        <br>
        <button class="btn btn-sm btn-light" (click)="modoEditar(direccion)">Editar</button>
        <button class="btn btn-sm btn-light" (click)="eliminarDireccion(direccion)">Eliminar</button>
      </li>
    </div>
    <br>
    <button (click)="panel = 3">Agregar dirección</button>
    <br>
    <button (click)="panel = 1">Atrás</button>
  </div>

  <div *ngIf="panel == 3 || panel == 4">
    <h4 *ngIf="panel == 3">Agregar nueva dirección</h4>
    <h4 *ngIf="panel == 4">Editar nueva dirección</h4>
    <br>
    <input type="text" placeholder="Nombre" [(ngModel)]="nuevaDireccion.nombre">
    <br>
    <input type="text" placeholder="Calle y número" [(ngModel)]="nuevaDireccion.nombre_calle">
    <br>
    <input type="text" placeholder="Barrio (opcional)" [(ngModel)]="nuevaDireccion.descripcion_barrio">
    <br>
    <button (click)="guardarDireccion()" *ngIf="panel == 3">Guardar</button>
    <button (click)="editarDireccion()" *ngIf="panel == 4">Aceptar</button>
    <button (click)="atras()">Atrás</button>
  </div>

</div>
