.div-container-navbar
{
    /* width: 90%; */
    padding: 0 5%;
    position: absolute;
    width: 100%;
    margin: 0.6rem auto;
    z-index: 1;
    justify-content: space-between;
    top: 0;
}

.btn
{
    font-size: 1.6rem !important;
}

.div-logo
{
    color: var(--black);
}

.div-titulo
{
    font-family: oswald-reg;
    font-size: 2rem;
    letter-spacing: .2rem;
    margin-bottom: -0.8rem;
    width: fit-content;
}

.div-subtitulo
{
    letter-spacing: 0.3rem;
    font-family: oswald-light;
    font-size: 1.2rem;
    width: fit-content;
}

.div-menu
{
    font-size: 0.8rem;
    text-align: right;
}

.div-opcion
{
    margin: auto 0.5rem;
}

.div-usuario    
{
    font-size: 1.2rem;
}

.flecha-usuario
{
    /* padding: 0 .5rem; */
    /* margin: auto 0; */
    margin:0 10px;
}

.div-icon-carro .fa
{
    font-size: 1.3rem !important;
    padding: 0;
    background-color: none !important;
}

.span-carro
{
    font-size:.9rem;
    margin: 0 10px;
}


.mat-menu-content
{
    max-width: 30vh;
}
