<div class="div-container-navbar flex">
    <div class="div-logo">
        <div class="div-titulo oswald-b">GUALEONLINE</div>
        <div class="div-subtitulo">PUERTA A PUERTA</div>
    </div>
    <div class="div-menu flex">
        <!-- <div class="div-opcion"><i class="fa fa-shopping-cart"></i></div> -->
        <div class="div-opcion"><button (click)="openModalLogin()" class="login">INICIAR SESION</button></div>
        <div class="div-opcion"><button class="login">REGISTRARSE</button></div>
        <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu> -->
    </div>
</div>

