<div class="div-container">
    <div class="div-opciones flex">
        <div class="div-opcion">Carrito</div>
        <div class="div-opcion">Guardaro</div>
    </div>
    <!-- <div class="div-producto">{{producto.precio}}</div> -->
    <div class="div-container-pedido">
        <div class="div-pedido-activo" *ngFor="let item of comprasService.pedidoActivo">
            <!-- <div class="div-pedido"> -->
                <div class="div-producto">{{item.nombre_producto}}</div>                
            <!-- </div> -->
        </div>
    </div>
</div>