.opciones {
  border-bottom: solid 1px var(--gris);
  padding:1rem 0;
}

.btnOpcion {
  font-size: 1.2rem;
}

.prod-desc {
  font-size: 0.8rem;
  color: var(--gris);
}

.btnPagar {
  margin-top: 1rem;
}

.opcionCantidad {
  left: 25%;
  margin-top: 5%;
}
