<div class="div-container">
    <div class="div-titulo">Categorias</div>
    <div class="div-buscar-container flex">
        <div class="div-buscar">Buscar categoria por nombre</div>
        <div class="div-btn-buscar">Buscar</div>
    </div>
    <div class="div-acciones">Acciones</div>
    <div class="div-opciones">Elegí una opcion '(Desplegable)'</div>
    <div class="div-titulo-categorias">(Seleccionar?) Categorias</div>
    <div class="div-categorias-container flex">
        <div class="div-img">(Seleccionar) Imagen</div>
        <div class="div-categoria">Categoria 1</div>
    </div>
    <div class="div-btn-nuevo-prod">Crear producto (Deberia ir arriba)</div>
    <div class="div-botones-container flex">
        <div class="div-guardar">Guardar</div>
        <div class="div-cancelar">Cancelar</div>
    </div>
</div>
