@font-face
{ 
    font-family: oswald-light;
    src: url(./assets/fonts/Oswald/Oswald-Light.ttf)
}

@font-face
{ 
    font-family: oswald-reg;
    src: url(./assets/fonts/Oswald/Oswald-Regular.ttf)
}

@font-face
{
    font-family: oswald-semib;
    src: url(./assets/fonts/Oswald/Oswald-SemiBold.ttf)
}

@font-face
{ 
    font-family: oswald-b;
    src: url(./assets/fonts/Oswald/Oswald-Bold.ttf)
}

@font-face
{ 
    font-family: opensans-reg;
    src: url(./assets/fonts/OpenSans/OpenSans-Regular.ttf)
}

@font-face
{ 
    font-family: opensans-semibold;
    src: url(./assets/fonts/OpenSans/OpenSans-SemiBold.ttf)
}

@font-face
{ 
    font-family: opensans-light;
    src: url(./assets/fonts/OpenSans/OpenSans-Light.ttf)
}

body
{
    font-size: calc(8px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));    
}


*
{
    font-family: opensans-reg;
   --gris-claro: #f7f7f7;
   --gris:  #9d9d9d;
   --black: #222222;
}

.gr { color: var(--gris)}

.grc { color: var(--gris-claro)}

.neg {color: var(--black)}

button 
{
    font-family: opensans-light;
    font-size: 1rem !important;
    background: white;
    border: none;
    padding: 1rem 2rem;
}

.spc-btw
{
    justify-content: space-between;
}

input { font-size: inherit }

.txt-center {text-align: center;}

.txt-right {text-align: right;}

.m-auto {margin: auto;}

.m-h-auto {margin: 0 auto;}

.m-v-auto {margin: auto 0;}

.flex {display: flex;}

.grow {flex-grow: 1;}

.no-pad-h
{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.div-container
{
    width: 90%;
    margin: 0 auto;
}

.imagen
{
    width: 100%;
}

.br-10 { border-radius: 6px; }

.row {margin: 0 !important}

.abs {position: absolute;}

.rel {position: relative;}

.border-none
{
    border: none;
}

.border-solid
{
    border:solid 1px var(--black)
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



/* ADMIN */

.titulo-top-admin
{
    font-size:1.2rem;
    color:var(--black);
    margin-bottom: 2rem;
}

.input-admin   
{
    padding-left: 10px;
}

.select-admin
{
    width: 100%;
    background-color: white;
}

.btn-black-admin
{
    background: var(--black);
    color: white;
    padding: .5rem 1rem;
    font-size: .8rem !important;
}

.btn-ok-admin
{

}

.btn-cancel-admin
{

}

.br-admin   
{
    border-bottom: 1px solid var(--black);
}

.titulo-input-admin
{    
    margin-bottom:5px;
}

.ng-image-slider .ng-image-slider-container .main
{
    height: 100px !important;
}

.ng-image-slider .ng-image-slider-container
{
    height: 100px !important;
}

.ng-image-slider
{
    height: 100px !important;
}

.ng-image-slider .ng-image-slider-container .main .next, .ng-image-slider .ng-image-slider-container .main .prev
{
    width: 20px !important;
    height: 20px !important;
    font-size: 18px !important;
    line-height: 17px !important;
}

.ngx-file-drop__content
{
    width: 100%;
}

.ngx-file-drop__content button
{
    padding: 0 !important;
    font-size: .6rem !important;
    text-align: center;
    margin: auto auto;
}

.ngx-file-drop__drop-zone
{
    height: fit-content !important;
}

.ngx-file-drop__content
{
    height: fit-content !important;
    padding: 4px 0 !important;
}