 /* The side navigation menu */
 .sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:var(--gris-claro); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav span {
  padding-left: 2rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: rgb(44, 44, 44);
  display: block;
  transition: 0.3s;
}

/* The navigation menu links */
.opcion {
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-size: 1rem;
  color: rgb(44, 44, 44);
  display: block;
  transition: 0.3s;
}

.sidenav button {
  margin-left: 2rem;
  white-space:nowrap;
  padding: .5rem 1rem;
  display: block;
  background-color: rgb(51, 51, 51);
  color: white;
}

/* When you mouse over the navigation links, change their color */
.opcion:hover {
  background-color: rgb(255, 255, 255);
  border-left:  solid 5px rgb(51, 51, 51);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: rgb(51, 51, 51);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  margin: .5rem;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
