<!-- <div class="div-container-navbar flex abs">
  <div class="div-menu flex">
    <button class="btn btn-dark" (click)="openNav()"><i class="fa fa-bars"></i></button>
  </div>
</div> -->


<div id="main">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <span>ADMINISTRADOR</span>
    <a class="opcion" href="/Admin/comercio">Datos del comercio</a>
    <a class="opcion" href="/Admin/diseño">Diseño</a>
    <a class="opcion" href="/Admin/Productos">Productos</a>
    <a class="opcion" href="/Admin/categorias">Categorías</a>
    <!-- <a class="opcion" href="#">Pedidos pendientes</a>
    <a class="opcion" href="#">Ventas</a> -->
    <br>
    <button class="br-10">Deshabilitar comercio</button>
  </div>
</div>
